In [1]:
import pandas as pd
import numpy as np

#### Метод преобразующий колонку с индексом в число с плавающей запятой (float)

In [2]:
parseIndexedDoubleCol = lambda a, b: float(a[b])

In [3]:
df = pd.read_csv("california_housing_test.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [4]:
# Расщепляем необходимые строки на списки
def parseLine(s):
    col2 = parseIndexedDoubleCol(s.split(','), 2)
    col3 = parseIndexedDoubleCol(s.split(','), 3)
    col5 = parseIndexedDoubleCol(s.split(','), 5)
    return (col2, col3, col5)

In [5]:
# Находим среднее, как сумма деленная на колличество элементов колонки
def average(s, n):
    if n != 0:
        return s/n
    else: 
         return 0

#### Вычисляем среднее значение

In [8]:
i = 0
s_2 = 0
s_3 = 0
s_5 = 0
with open('california_housing_test.csv') as f:
    for line in f:  
#         пропускаем первую строку с заголовком
        if i > 0: 

            col2, col3, col5 = parseLine(line)
            s_2 = s_2 + col2
            s_3 = s_3 + col3
            s_5 = s_5 + col5
            
        i = i + 1
        
print(f'Среднее значение колонки "housing_median_age": {average(s_2, i - 1):.4f}')
print(f'Среднее значение колонки "total_rooms": {average(s_3, i - 1):.4f}')
print(f'Среднее значение колонки "population": {average(s_5, i - 1):.4f}')

Среднее значение колонки "housing_median_age": 28.8453
Среднее значение колонки "total_rooms": 2599.5787
Среднее значение колонки "population": 1402.7987